body {
    background-color:lavenderblush;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    color:hotpink;
    text-transform:uppercase;
    max-width:max-content;
    margin: 0 auto;
    font-size:xx-large;
}

.special {
    color:darkgreen;
    font-weight: 700;
}

