body{
  background: rgb(141, 200, 255);
  margin: 0px;
}

.suki{
  margin:0px;
  font-size: 8vh;
  text-align:left;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(141, 200, 255);
  position: absolute;
  left: 30px;
  top: -30px;
}

.suki:hover {
  color: rgb(251, 244, 178);
}

.waterhouse {
  font-size: 8vh;
  text-align:right;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(141, 200, 255);
  position: absolute;
  right: 30px;
  top: -30px;
}

.waterhouse:hover {
  color: rgb(251, 244, 178);
}

.the {
  font-size: 4vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 0, 145);
  text-align: center;
  position: absolute;
  bottom: 115px;
  right: 270px;
}


.Sparklemuffin {
  font-size: 9vh;
  font-family:cursive;
  color: rgb(5, 0, 145);
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.tour {
  font-size: 6vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 0, 145);
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 30px;
}

.info {
  font-size: 1.5vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 0, 145);
  text-align: left;
  position: absolute;
  top: 80px;
  left: 30px;
}


.container{
  background: url(sukipink.jpg);
  position:relative;
  
  margin: 10px auto; /* 10px on the top and bottom, "auto" to center it on either side */
  padding:20px;
  
  height:calc(100vh - 40px - 20px); /* 100% of the viewport height, minus 2x padding, minus 2x the margin. */
  width:60vh; /* This is in "vh" units because we always want it to be relative to the height. In this case, it's a 3:5 ratio (60:100) */
}

.circle1 {
  width:2vh;
  height:97vh;
  background:rgb(251, 244, 178);
  position:absolute;
  top: 0px;
  left: 0px;
}

.circle2 {
  width:2vh;
  height:97vh;
  background:rgb(251, 244, 178);
  position:absolute;
  top: 0px;
  right: 0px;
}

.circle3 {
  width:65vh;
  height:2vh;
  background: rgb(251, 244, 178);
  position:absolute;
  top: 0px;
  right: 0px;
}

.circle4 {
  width:65vh;
  height:2vh;
  background:rgb(251, 244, 178);
  position:absolute;
  bottom: 0px;
  right: 0px;
}  