body {
    background-color:lavenderblush;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:hotpink;
    max-width:max-content;
    margin: 0 auto;
}

div {
    color:hotpink;
    max-width:max-content;
    margin: 0 auto;
}

.special {
    color:darkgreen;
    font-weight: 700;
}

.subhead {
    color:hotpink;
}

@media (max-width: 500px) {
    body {
        background-color:rgb(182, 207, 255);
    }
}